<div class="gallery__wrapper">
    <div class="gallery__title">фото с <span class="highlighted">курсов</span></div>
    <div class="gallery">
        <div class="gallery__item-1"><img src="assets/imgs/gallery01.png"> </div>
        <div class="gallery__item-2"> <img src="assets/imgs/gallery01.png"> </div>
        <div class="gallery__item-3"> <img src="assets/imgs/gallery01.png"> </div>
        <div class="gallery__item-4"> <img src="assets/imgs/gallery01.png"> </div>
        <div class="gallery__item-5"> <img src="assets/imgs/gallery01.png"> </div>
        <div class="gallery__item-6"> <img src="assets/imgs/gallery01.png"> </div>
        <div class="gallery__item-7"> <img src="assets/imgs/gallery01.png"> </div>
        </div>
</div>