<div class="price__wrapper" id="price">
    <div class="price__title mobile__title">
        тарифы <span class="highlighted">обучения</span>
    </div>
    <div class="price">
        <div class="price__card">
            <div class="price__content">
                <div class="price__card-img"><img src="assets/imgs/beginner.png"></div>
                <ul class="price__card-list">
                    <li class="price__card-list-item">замена дисплея</li>
                    <li class="price__card-list-item">замена аккумулятора</li>
                    <li class="price__card-list-item">чистка динамиков</li>
                    <li class="price__card-list-item">программный ремонт(Itunes и др. софт)</li>
                    <li class="price__card-list-item">обучение  на моделях до
                        <span class="highlighted">iphone x</span>
                    </li>
                    <li class="price__card-list-item">Общее время обучения составит <span class="highlighted">12 часов</span>
                    </li>
                </ul>
            </div>
            <div class="price__content-price-button">
                <div class="price__card-old-price">32.000 ₽</div>
                <div class="price__card-current-price"><span class="highlighted">25.000 ₽</span></div>
                <a href="https://wa.me/+79939090912"><button class="main__button">записаться <img
                    src="assets/icons/arrow.svg"></button></a>
            </div>

        </div>
        <div class="price__card">
            <div class="price__content">
                <div class="price__card-img"><img src="assets/imgs/master.png"></div>
                <ul class="price__card-list">
                    <li class="price__card-list-item">+Базовый курс</li>
                    <li class="price__card-list-item">работа с платами</li>
                    <li class="price__card-list-item">программный ремонт</li>
                    <li class="price__card-list-item">замена комлпектующих</li>
                    <li class="price__card-list-item">работа с сетью</li>
                    <li class="price__card-list-item">работа с программаторами</li>
                    <li class="price__card-list-item">обучение  на моделях до
                        <span class="highlighted">iphone 12 pro max</span>
                    </li>
                    <li class="price__card-list-item">Общее время обучения составит <span class="highlighted">18 часов</span>
                    </li>
                </ul>
            </div>
            <div class="price__content-price-button">
                <div class="price__card-old-price">46.000 ₽</div>
                <div class="price__card-current-price"><span class="highlighted">37.000 ₽</span></div>
                <a href="https://wa.me/+79939090912"><button class="main__button">записаться <img
                    src="assets/icons/arrow.svg"></button></a>
            </div>

        </div>
        <div class="price__card">
            <div class="price__content">
                <div class="price__card-img"><img src="assets/imgs/expert.png"></div>
                <ul class="price__card-list">
                    <li class="price__card-list-item">базовый и мастер+</li>
                    <li class="price__card-list-item">элементарная пайка</li>
                    <li class="price__card-list-item">работа со слоями Плат</li>
                    <li class="price__card-list-item">работа со шлейфами</li>
                    <li class="price__card-list-item">работа с коннекторами</li>
                    <li class="price__card-list-item">Видеоконференция с официальными представителями сервисного центра
                        Apple</li>
        
                    <li class="price__card-list-item">полный методический курс </li>
                  
                    <li class="price__card-list-item">обучение  на моделях до
                        <span class="highlighted">iphone 14 pro max</span>
                    </li>
                    <li class="price__card-list-item">Общее время обучения составит <span class="highlighted">24 часа
                    </span>
                    </li>
                </ul>
            </div>
            <div class="price__content-price-button">
                <div class="price__card-old-price">68.000 ₽</div>
                <div class="price__card-current-price"><span class="highlighted">59.000 ₽</span></div>
                <a href="https://wa.me/+79939090912"><button class="main__button">записаться <img
                    src="assets/icons/arrow.svg"></button></a>
            </div>

        </div>
    </div>
</div>