<div class="price__wrapper">
    <div class="price__title">
        тарифы <span class="highlighted">обучения</span>
    </div>
    <div class="price">
        <div class="price__card">
            <div class="price__card-img"><img src="assets/imgs/beginner.png"></div>
            <ul class="price__card-list">
                <li class="price__card-list-item"><img src="assets/icons/list-icon.png">пайка</li>
                <li class="price__card-list-item"><img src="assets/icons/list-icon.png">работа с флагманами</li>
                <li class="price__card-list-item"><img src="assets/icons/list-icon.png">расслоение Плат</li>
                <li class="price__card-list-item"><img src="assets/icons/list-icon.png">диагностика процессора</li>
                <li class="price__card-list-item"><img src="assets/icons/list-icon.png">работа со шлейфами</li>
                <li class="price__card-list-item"><img src="assets/icons/list-icon.png">восстановление коннекторов</li>
                <li class="price__card-list-item"><img src="assets/icons/list-icon.png">обучение вплоть на моделях до
                    <span class="highlighted">iphone x</span></li>
            </ul>
            <div class="price__card-old-price">39.000 ₽</div>
            <div class="price__card-current-price"><span class="highlighted">25.000 ₽</span></div>
            <button class="main__button">записаться <img src="assets/icons/arrow.svg"></button>
        </div>
        <div class="price__card">
            <div class="price__card-img"><img src="assets/imgs/beginner.png"></div>
            <ul class="price__card-list">
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
            </ul>
            <div class="price__card-old-price"></div>
            <div class="price__card-current-price"></div>
            <button class="main__button">записаться <img src="assets/icons/arrow.svg"></button>
        </div>
        <div class="price__card">
            <div class="price__card-img"><img src="assets/imgs/beginner.png"></div>
            <ul class="price__card-list">
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
                <li class="price__card-list-item"></li>
            </ul>
            <div class="price__card-old-price"></div>
            <div class="price__card-current-price"></div>
            <button class="main__button">записаться <img src="assets/icons/arrow.svg"></button>
        </div>
    </div>
</div>
