$bg: #ffffff;
$white: #ffffff;
$grey: #777777;
$black: #333333;
$lightgrey: #f2f5f7;
$iris: #5d5fef;
$smoothiris: #a5a6f6;
$pink: #f178b6;
$link: #005b95;
$mainfont: Roboto;
$medium: 500;
$regular: 400;
$light: 300;
$thin: 200;
$title: 48px;
$tab: 32px;
$bigsubtitle: 36px;
$link-size: 20px;
$subtitle: 18px;
$mediumtext: 24px;
$text: 14px;
$smalltext: 14px;
$burgerWidth: 24px;
$burgerBarHeight: 1px;
$burgerBarColor: $white;