.hero__wrapper {
    background-image: url(../../../../../assets/imgs/hero-bg.png);
    background-size: cover;
    min-height: 700px;

    & .hero {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 140px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & .hero__title-block {
            width: 100%;
            max-width: 952px;

            & .hero__title {
                color: white;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 900;
                font-size: 64px;
                line-height: 55px;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                margin-top: 140px;
            }

            & .hero__subtitle {
                font-family: 'Exo 2';
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 29px;
                text-transform: uppercase;

                color: #FFFFFF;
                margin-top: 15px;
            }

            & .hero__button {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                line-height: 93%;
                margin-top: 40px;
                /* or 37px */

                letter-spacing: -0.04em;
                color: #FFFFFF;
                background: #5959FA;
                border-radius: 70px;
                width: 100%;
                max-width: 650px;
                height: 100%;
                max-height: 128px;
                display: flex;
                align-items: center;
                padding: 15px;
                justify-content: center;
                border-width: 0px;
                gap: 10px;
                cursor: pointer;
                &:hover img {
                    transition: all 0.3s ease-in-out;
                    transform: translateX(30px)
                }
            }
            & .hero__button img {
                transform: translateX(3px);
                            transition: all 0.3s ease-in-out;
            }
        }

        & .hero__image {
            margin-top: 140px;
        }
        & .hero__image  img{
            display: flex;
            align-self: flex-start;
            width: 100%;
            height: auto;
            max-width: 900px;
            @media screen and (max-width:428px) {
    width: 100%;
    max-width: 100%;
            }
        }
    }
}