<div class="hero__wrapper">
    <div class="hero">
        <div class="hero__title-block">
            <h1 class="hero__title">
                очный курс по ремонту техники <span class="highlighted">APPLE</span>
            </h1>
            <p class="hero__subtitle">Обучение ремонту iphone, ipad, imac, macbook c последующим <span class="highlighted">трудоустройством</span></p>

            <a><button class="hero__button">
                ПРОБНОЕ ЗАНЯТИЕ
                <img src="assets/icons/arrow.svg">
            </button></a>
        </div>
        <div class="hero__image">
            <img src="assets/imgs/hero-img.png">

        </div>
    </div>
</div>