<div class="lesson__wrapper">
    <div class="lesson">
        <div class="lesson__content">
            <div class="lesson__title mobile__title">пробный <span class="highlighted">урок</span></div>
            <div class="lesson__subtitle">не уверен в выборе направления? мы подскажем!</div>
            <ul class="lesson__list">
                <li class="lesson__list-item">покажем учебный процесс со стороны;</li>
                <li class="lesson__list-item">предоставим все инструменты и оборудование;</li>
                <li class="lesson__list-item">поможем подобрать своё направление;
                </li>
                <li class="lesson__list-item">познакомим с преподавателями лично</li>
            </ul>
            <button class="main__button">записаться <img src="assets/icons/arrow.svg"></button>
        </div>
        <div class="lesson__image">
            <img src="assets/imgs/lesson-img.png">
        </div>
    </div>
</div>