<div class="header__wrapper" [ngClass]="{ sticky: isSticky, filled: isFilled }">
    <header class="header">
        <div class="header__inner-wrapper">
            <a routerLink="/">
                <div class="header__logo" (click)="onClickScroll('top')">
                    <img src="../assets/imgs/logo.png" />
                </div>
            </a>
            <nav class="header__navigation" *ngIf="!mobile">
                <ul>
                    <li class="header__navigation-item"><a (click)="onClickScroll('about')">О Нас</a></li>
                    <li class="header__navigation-item"><a (click)="onClickScroll('price')">Курсы</a></li>
                    <li class="header__navigation-item"><a (click)="onClickScroll('products')">Купить Девайс</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__aside">
            <div class="header__phone-wrapper" *ngIf="!mobile">
                <div class="header__phone">
                    <mat-icon aria-hidden="false" class="header__phone--icon">phone</mat-icon>
                    <a class="header__phone--number" href="tel:{{phoneNumber}}">{{phoneNumber}}</a>
                </div>
                <div class="header__phone--text">Ежедневно с 11:00 до 20:00</div>
            </div>
            <div class="mobile__header-wrapper">
            </div>
            <nav *ngIf="mobile" class="burger__nav-wrapper">
                <app-burger></app-burger>
            </nav>
        </div>

    </header>
</div>
<!--Header ends-->