<div class="contacts__wrapper">
    <div class="contacts">
        <div class="contacts__content">
            <div class="contacts__content-title">Контактная <br>информация</div>
            <div class="contacts__content-item">
                <p>E-mail</p>
                <a href="mailto:">ьфшд"нфтвучюкг</a>
            </div>
            <div class="contacts__content-item">
                <p>Телефон</p>
                <a href="tel:{{phoneNumber}}">{{phoneNumber}}</a>
            </div>
            <div class="contacts__content-item">
                <p>График работы</p>
                <a href="mailto:">с 8:00 до 22:00</a>
            </div>
        </div>
        <div class="contacts__map">
            <div style="position:relative;overflow:hidden;"><a
                    href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a
                    href="https://yandex.ru/maps/geo/bagrationovskiy_proyezd_7k3_k1/1911599021/?ll=37.503971%2C55.741288&utm_medium=mapframe&utm_source=maps&z=19"
                    style="color:#eee;font-size:12px;position:absolute;top:14px;">Багратионовский проезд, 7к3, К1 —
                    Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUfRVegoA" width="360" height="300"
                    frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
    </div>
</div>