<div class="burger-menu" [class.active]="active" (click)="onBurgerClicked()">
    <div class="burger-container">
        <div class="burger-inner"></div>
    </div>
    <div class="overlay">
        <div class="burger__logo"><img src="assets/image/mainlogo.svg"></div>
        <div class="burger__nav-contacts">
            <a href="tel:{{phoneNumber}}" class="burger__nav-phone">{{phoneNumber}}</a>
            <p class="burger__nav-time">Ежедневно с 11:00 до 20:00</p>
        </div>

        <ul class="burger__nav">
            <li class="header__navigation-item"><a (click)="onClickScroll('about')">О Нас</a></li>
            <li class="header__navigation-item"><a (click)="onClickScroll('price')">Курсы</a></li>
            <li class="header__navigation-item"><a (click)="onClickScroll('products')">Купить Девайс</a></li>
        </ul>
        <div class="burger__copyright">© <a href="https://madstack.ru"><span>MadStack</span> Digital Agency</a></div>
    </div>
</div>
