$bg: #ffffff;
$white: #ffffff;
$grey: #777777;
$black: #333333;
$lightgrey: #f2f5f7;
$iris: #5d5fef;
$smoothiris: #a5a6f6;
$pink: #f178b6;
$link: #005b95;
$mainfont: Roboto;
$medium: 500;
$regular: 400;
$light: 300;
$thin: 200;
$title: 48px;
$tab: 32px;
$bigsubtitle: 36px;
$link-size: 20px;
$subtitle: 18px;
$mediumtext: 24px;
$text: 14px;
$smalltext: 14px;
$burgerWidth: 24px;
$burgerBarHeight: 1px;
$burgerBarColor: $white;

.burger-menu {
    width: 100%;
    max-width: 280px;
    height: $burgerWidth;
    margin-right: 24px;
    // margin-top: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    & .burger-container {
        position: relative;
        .burger-inner {
            position: absolute;
            width: $burgerWidth - 2 * $burgerBarHeight;
            z-index: 10;
            color: $iris;
            left: 0px;
            top: 0px;
            border: $burgerBarHeight solid $burgerBarColor;
            transition: border-color .2s ease-in .2s;
            &::before {
                position: absolute;
                content: '';
                top: -8px;
                left: -$burgerBarHeight;
                width: $burgerWidth - 2 * $burgerBarHeight;
                border: $burgerBarHeight solid $burgerBarColor;
                transition: top .2s ease-in .3s, transform ease-in .2s;
            }
            &::after {
                position: absolute;
                content: '';
                top: 6px;
                left: -$burgerBarHeight;
                width: $burgerWidth - 2 * $burgerBarHeight;
                border: $burgerBarHeight solid $burgerBarColor;
                transition: top .2s ease-in .3s, transform ease-in .2s;
            }
        }
    }
    &.active .burger-container .burger-inner {
        border-color: transparent;
        transition: border-color ease-in .1s;
    }
    &.active .burger-container .burger-inner::before {
        top: -$burgerBarHeight;
        transform: rotate(-45deg);
        transition: top ease-out .2s, transform .2s ease-out .3s;
    }
    &.active .burger-container .burger-inner::after {
        top: -$burgerBarHeight;
        transform: rotate(45deg);
        transition: top ease-out .2s, transform .2s ease-out .3s;
    }
    & .overlay {
        position: fixed;
        z-index: -9;
        top: 0;
        background: rgba(255, 255, 255, 0);
        height: 100vh;
        width: 100%;
        right: -414px;
        overflow: hidden;
        transition: all 550ms ease-in-out;
        & .burger__nav {
            transition: width 250ms ease-in-out;
            opacity: 0;
            -webkit-transition: width 250ms ease-in-out;
            -moz-transition: width 250ms ease-in-out;
            -ms-transition: width 250ms ease-in-out;
            -o-transition: width 250ms ease-in-out;
            font-size: 24px;
        }
    }
}

.burger-menu-btn {
    color: #fff;
    display: flex;
    font-size: 22px;
    align-items: center;
    margin-right: 10px;
}

.burger-menu.active {
    & .overlay {
        position: fixed;
        z-index: 9;
        top: 0;
        right: 0;
        background: rgba($iris, 0.98);
        height: 100vh;
        width: 100%;
        max-width: 414px;
        & .burger__nav {
            transition: width 250ms ease-in-out;
            opacity: 1;
            display: flex;
            list-style: none;
            padding-inline-start: 0px;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            margin-top: 20%;
            gap: 10px;
            box-sizing: border-box;
            & li {
                color: $white;
                text-transform: uppercase;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 99%;
/* identical to box height, or 23px */

letter-spacing: -0.05em;
text-transform: uppercase;

color: #FFFFFF;

            }
            & li a {
                font-size: 32px;
                // & .nav__item-inner:before {
                //     content: attr(data-text);
                //     overflow: hidden;
                //     width: 0%;
                //     position: absolute;
                //     left: 0;
                //     top: 50%;
                //     white-space: nowrap;
                //     color: $white;
                //     background-color: #f5f5f5;
                //     z-index: 2;
                //     transform: translateY(-50%);
                //     transition: 1s cubic-bezier(.225, 1, .316, .99);
                // }
                // &:hover .nav__item-inner:before {
                //     width: 100%;
                //     content: attr(data-text);
                //     overflow: hidden;
                //     width: 0%;
                //     position: absolute;
                //     left: 0;
                //     top: 50%;
                //     white-space: nowrap;
                //     color: $white;
                //     background-color: #f5f5f5;
                //     z-index: 2;
                //     transform: translateY(-50%);
                //     transition: 1s cubic-bezier(.225, 1, .316, .99);
                // }
            }
        }
    }
}

.burger__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.burger__copyright {
    text-align: center;
    margin-top: 30%;
    & a {
        color: $white;
        text-decoration: unset;
    }
    color: $white;
}

.burger-menu.active {
    .burger__logo {
        opacity: 1;
        transition: opacity 300ms ease-in-out;
        margin-top: 30%;
    }
    .burger__nav-contacts {
        opacity: 1;
    }
}

.burger__nav-contacts {
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10%;
    & a {
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 5px;
        color: $white;
    }
}
.burger__nav-time {
    color:$white;
    font-weight: 300;
    font-size: 14px;
}