<div class="advantage__wrapper">
    <div class="advantage__title mobile__title">
        учитесь у <span class="highlighted">профессионалов</span>
    </div>
    <div class="advantage">
        <div class="advantage__card" *ngFor="let advantage of advantages" [ngClass]="{bgPurple : advantage.fillBg}">
            <div class="advantage__card-number">{{advantage.id}}</div>
            <div class="advantage__card-title highlighted" [ngClass]="{light : advantage.fillBg}">{{advantage.title}}</div>
            <div class="advantage__card-description">{{advantage.description}}
            </div>
            <div class="advantage__card-mini-icon"></div>
        </div>
    </div>
</div>