<div class="advantage__wrapper">
    <div class="advantage__title">
        учитесь у <span class="highlighted">профессионалов</span>
    </div>
    <div class="advantage">
        <div class="advantage__card">
            <div class="advantage__card-number">01</div>
            <div class="advantage__card-title highlighted">ВЫСОКАЯ ЗАРПЛАТА</div>
            <div class="advantage__card-description">Увеличьте свой заработок, начав работать в сфере ремонта и
                обслуживания электронной техники: это всегда востребованная и хорошо оплачиваемая сфера.
            </div>
            <div class="advantage__card-mini-icon"></div>
        </div>
    </div>
</div>