.advantage__wrapper {
    .advantage__title {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 140%;
/* identical to box height, or 90px */

text-align: center;
letter-spacing: -0.04em;
text-transform: uppercase;

/* white */

color: #FFFFFF;

    }
    & .advantage {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: -10px;
        & .advantage__card {box-sizing: border-box;
            padding: 54px 20px 96px 20px;

            border: 2px solid #5959FA;
            width: 100%;
            max-width: 357px;
            height: 100%;
            max-height: 357px;
            border-radius: 50%;
            & .advantage__card-number {
                font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 140%;
/* identical to box height, or 90px */

letter-spacing: -0.04em;
text-transform: uppercase;

color: #4343FF;
            }
            & .advantage__card-title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 23px;
                line-height: 99%;
                /* identical to box height, or 23px */
                
                letter-spacing: -0.05em;
                text-transform: uppercase;
                padding-bottom: 10px;
                
            }
            & .advantage__card-description {
                font-family: 'Exo 2';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 99%;
/* or 14px */

letter-spacing: -0.05em;
text-transform: uppercase;

color: #EEEEEE;
            }
        }
    }
}





.advantage__card-mini-icon {
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color: #c89afc;
}

.bg-purple {
    background-color: #5959FA;
}