<div class="about__wrapper" id="about">
<div class="about">
    <div class="about__title">
         о <span class="highlighted">нас</span>
    </div>
    <div class="about__inner-wrapper">
        <div class="about__content">
            <div class="about__content-title">СТАНЬ НАСТОЯЩИМ ПРОФИ В РЕМОНТЕ ВСЕХ ДЕВАЙСОВ <span class="highlighted">APPLE</span></div>
            <div class="about__content-text">Цель компании <span class="highlighted">stiff family </span>- подготовка специалистов в области проектирования, ремонта и обслуживания современной электронной техники apple, схемотехники, пайки SMD компонентов и BGA микросхем, в том числе для работы с паяльным оборудованием, технологиями, профессиональными средствами, позволяющих выполнять все виды ремонтных работ. На занятиях 80% времени уделяется получению практических навыков.
            </div>
        </div>
<div class="about__image">
    <img src="assets/imgs/about-img.png">
    
</div>
    </div>
    
</div>
</div>