.about__wrapper {
    padding-right: 10px;
padding-left: 10px;
box-sizing: border-box;
    & .about {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 80px;

        & .about__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 78px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            padding-bottom: 80px;
            
        }
    }
    & .about__image  img{
        display: flex;
        align-self: flex-start;
        width: 100%;
        height: auto;
        max-width: 900px;
        @media screen and (max-width:428px) {
width: 100%;
max-width: 100%;
margin-top: 40px;
        }
    }
    & .about__inner-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & .about__content {
            width: 100%;
            max-width: 798px;

            & .about__content-title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                line-height: 49px;
                text-transform: uppercase;
                color: #FFFFFF;
                padding-bottom: 40px;
                @media screen and (max-width:428px) {
                    font-size: 32px !important;
                    line-height: 36px!important;
                }
            }

            & .about__content-text {
                font-family: 'Exo 2';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-transform: uppercase;
                color: #FFFFFF;
                @media screen and (max-width:428px) {
                    font-size: 18px !important;
                    line-height: 24px!important;
                }
            }
        }
    }
}